[user]
	name = takeshi
	email = 46620655+takeshihoshikawa@users.noreply.github.com
[core]
	autocrlf = input
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
[push]
	default = simple
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
