[user]
	name = takeshi
	email = hoshikawa.takeshi@spua.ac.jp
[core]
	autocrlf = input
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
[push]
	default = simple
[credential "https://dev.azure.com"]
	useHttpPath = true
